{% extends '_layouts/base' %}



{# Params #}
{% set events = craft.entries.section('events').all() %}



{# Layout #}
{% block page_body %}
  <main class="max-w-xl px-6 mx-auto">
    {{ block('index_list') }}
  </main>
{% endblock %}



{% block index_list %}
  {% for event in events %}
    {% if loop.first %}
      <div class="space-y-8">
    {% endif %}
    
    <article>
      <div class="flex justify-between items-center">
        <div class="">
          <h2 class="text-xl font-bold">
            {{ event.title }}
          </h2>
          {{ event.venue.one() }}
        </div>
        
        <div class="font-mono text-xs uppercase bg-gray-100 p-3 w-40">
          <time datetime="{{ event.startDate|atom }}">
            <span class="normal-case font-bold text-sm">
              {{ event.startDate|date('d M') }}
            </span>
            <br>
            {{ event.startDate|time('short') }}
          </time>
          -
          <time datetime="{{ event.endDate|atom }}">
            {{ event.endDate|time('short') }}
          </time>
        </div>
      </div>
      
      {{ event.ticketTypes.all()|join(', ') }}
    </article>
    
    {% if loop.last %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
