{% extends '_layouts/base' %}
{% from '_helpers' import cachedApiCall %}



{# Params #}
{% set ticketTypes = craft.entries.section('ticketTypes').all() %}
{% set eventSeats = craft.entries.section('eventSeats')
  .with(['event'])
  .all()
  |index('event.0.id')
%}
{% set events = craft.entries.section('events')
  .with(['venue', 'ticketTypes', 'artists'])
  .all()
  |sort((a, b) => a.startDate == b.startDate
    ? a.venue.one().title <=> b.venue.one().title
    : a.startDate <=> b.startDate
  )
  |map(event => event|merge({
    seatsAvailable: eventSeats[event.id].seatsAvailable
      ?? event.venue[0].seatsAvailable
      ?? false
  }))
%}



{# Layout #}
{% block page_body %}
  <main class="max-w-4xl px-6 mx-auto">
    {{ block('index_intro') }}
    {{ block('index_list') }}
  </main>
{% endblock %}



{# Render #}
{% block index_intro %}
  {% for ticketType in ticketTypes %}
    {% if loop.first %}
      <h3 class="uppercase text-gray-500 text-xs tracking-wider mb-3">
        Ticket Types
      </h3>
      <ul class="flex gap-1 mb-24">
    {% endif %}
        <li class="p-4 flex-1 bg-gray-100 h-40">
          {{ ticketType }}
        </li>
    {% if loop.last %}
      </ul> 
    {% endif %}
  {% endfor %}
{% endblock %}

{% block index_list %}
  {% set StringHelper = create('craft\\helpers\\StringHelper') %}
  
  {% for event in events %}
    {% if loop.first %}
      <h3 class="uppercase text-gray-500 text-xs tracking-wider">
        Performances
      </h3>
      <ul class="divide-y divide-gray-200">
    {% endif %}
    
    <li>
      <article class="grid grid-cols-2 md:grid-cols-4 gap-2 items-center py-8">
        <div class="col-span-2">
          <div class="flex gap-1.5">
            <h2 class="text-xl font-bold mb-1">
              {{ event.title }}
            </h2>
            <details class="bg-blue-300 rounded-full w-4 h-4 text-xs self-center">
              <summary class="list-none text-center cursor-pointer text-white font-bold font-mono">i</summary>
              <div class="absolute max-w-xs p-4 bg-gray-100 shadow-md space-y-8 rounded ml-2">
                {% for artist in event.artists.all() %}
                  {% set wikipediaPage = cachedApiCall('https://en.wikipedia.org/api/rest_v1/page/summary/' ~ artist.title, {
                    headers: {
                      accept: 'application/json',
                      charset: 'utf-8',
                      profile: 'https://www.mediawiki.org/wiki/Specs/Summary/1.4.2',
                      query: { redirect: 'false' },
                    },
                  })|trim|json_decode %}
                  
                  {% set artistBio = (wikipediaPage.extract ?? '')|md %}
                  {% set artistBio = StringHelper.replaceFirst(
                    artistBio,
                    artist.title,
                    tag('strong', {
                      text: artist.title,
                      class: 'text-base font-semibold',
                    })
                  ) %}
                  
                  {% set artistWebsite = artist.website ? tag('a', {
                    class: 'text-blue-600 text-xs',
                    href: artist.website,
                    html: 'Official Website &rarr;',
                  }) %}
                  
                  {% if artistBio or artistWebsite %}
                    <div class="text-sm">
                      {{ artistBio|raw }}
                      {{ artistWebsite|raw }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </details>
          </div>
          
          <p class="text-xs text-gray-500">
            <time datetime="{{ event.startDate|atom }}">
              {{ event.startDate|time('ga') }},
              {{ event.startDate|date('j M') }}
            </time>
            •
            {{ event.venue.one() }}
          </p>
        </div>
        
        <div class="text-sm">
          {{ event.ticketTypes.all()
              |join('<br>')
              |raw }}
        </div>
        
        <div class="flex items-center justify-end gap-2">
          {% if event.seatsAvailable %}
            {% tag 'span' with {
              class: [
                'text-xs',
                event.seatsAvailable > 50
                ? 'text-green-500'
                : (event.seatsAvailable > 0
                  ? 'text-amber-500'
                  : 'text-red'
                )
              ],
            } %}
              {{ event.seatsAvailable }} seats
            {% endtag %}
          {% endif %}
          {% tag 'button' with {
            class: [
              not event.seatsAvailable ? 'opacity-50',
              'py-1 px-2',
              'font-bold text-sm',
              'bg-gray-100 border shadow-sm rounded transition',
              event.seatsAvailable ? 'hover:bg-gray-200',
              event.seatsAvailable ? 'active:scale-95',
            ],
            disabled: not event.seatsAvailable,
          } %}
            {{ event.seatsAvailable ? 'Attend' : 'Fully Booked' }}
          {% endtag %}
        </div>
      </article>
    </li>
    
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}
